body {
    background-color: #c1f8f8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.footer {
    background-color: #99a784;
    color: rgb(0, 60, 255);
}

nav ul {
    list-style-type: none;
    display: flex;
}
nav li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    margin: 2px 0;
}

.fs-m {
    font-size: medium;
}
.fs-l {
    font-size: large;
}

nav {
    background-color: #058f11;
    background: url(../images/25896-full-size-natur-hintergrundbider-1920x1080.jpg);
    background-position: bottom;
}
li {
    background: linear-gradient(
                    rgba(114, 196, 243, 0), 
                    rgba(98, 136, 238, 0.1));
    transition: font-size 2s;

}


li:hover {
    background: linear-gradient(
                    rgba(114, 196, 243, 0.7), 
                    rgba(98, 136, 238, 0.1));
    font-size: x-large;
 }



a:link {
    color: #88b323;
    text-decoration: none;
}
a:visited {
    color: #058f11;
    text-decoration: none;
}
a:hover {
    color: #15bfdd;
    text-decoration: none;
}
a:active {
    color: #B300B3;
    text-decoration: underline;
}
